<div class="w3-main w3-white side-bar-space">

    <div class="w3-container">
        <div class="w3-margin">
            <div class="topnav">
                <a class="active">Archiver</a>
                <div class="topnav-right">
                    <a href="">{{user.fullname}}</a>
                    <a href="#!login">Logout <i class="fa fa-sign-out"></i></a>
                </div>
            </div> 
        </div>
    </div>

    <div class="w3-container" ng-show="archiver.NoPanelVisibility">
        <div class="w3-margin-left w3-margin-right">
            <div class="w3-panel w3-border w3-container">
                <p>No Access!</p>
            </div>
        </div>
    </div>

    <div class="w3-container" ng-show="archiver.faceMaskArchiverPanelVisibility">
        <div class="w3-margin-left w3-margin-right">
        <div class="w3-bar w3-black">
        <button class="w3-bar-item w3-button w3-gray">Face Mask Image Snapshots</button>
        </div>

        <div id="London" class="w3-panel w3-border w3-container city">
            <h2>Images</h2>
            <p>List Snapshots Here</p>
            </div>

        </div>
    </div>

    <div class="w3-container">
        <div class="w3-margin-left w3-margin-right">
            <div class="w3-card">
                <header class="w3-container  w3-dark-grey w3-center">
                    <small>Copyright @ Project Design CPE521 Y2022</small>
                </header>
            </div>
        </div>
    </div>
      

</div>